/** Reset everything to 0 **/

*,
*::before,
*::after {
  padding: 0px;
  box-sizing: border-box;
}

/* Declare Global settings */
* {
  font-family: "Lato", sans-serif;
  letter-spacing: -0.2pt;
}

/* Setting up Flex containers and Items */

.flexcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.flex-item {
  width: 380px;
  border: 1px solid lightgray;
  border-radius: 7px;
  margin: 0px 7px;
}

/* Devide an item in a top an bottom part */

/* Top for the information */

.flex-item-top {
  padding: 0px 0px 10px 0px;
  margin: 20px 20px 0px 20px;
}

/* Bottom for the buttons */

.flex-item-bottom {
  /* margin: 0px 0px 0px 0px; */
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
  justify-content: center;
  align-content: center;
  margin: 0% 0% 0% 0%;
  padding: 5% 5% 5% 5%;
  border-top: 0.2px solid lightgrey;
}

/* declare H3 P and .status selectors within Flex-items-top */

.flex-item-top h3 {
  margin-top: 0px;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 23px;
  padding: 0px;
}

.flex-item-top .status {
  color: #a1a1a1;
  margin-top: 0px;
  font-size: 18px;
}

.flexcontainer p,
.flex-item p {
  font-size: 19px;
  color: #444444;
  line-height: normal;
}

/* Style the avatar on the info part  */

.avatar {
  float: right;
  vertical-align: top;
  width: 44px;
}

/* Design the Buttons */

button {
  padding: 8px 0px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}

/* The green approve button  */

.approve {
  order: 1;
  border: 2px solid;
  color: rgb(0, 189, 0);
  border-radius: 6px 0px 0px 6px;
  margin-right: -3px;
}

.approve:hover {
  color: white;
  background-color: rgb(0, 189, 0);
  border: 2px solid rgb(0, 189, 0);
}

/* The red decline button  */

.decline {
  order: 2;
  border: 2px solid;
  color: red;
  border-radius: 0px 6px 6px 0px;
  margin-left: -3px;
}

.decline:hover {
  color: white;
  background-color: red;
  border: 2px solid red;
}

/* Settings for both buttons  */

.approve,
.decline {
  width: 50%;
  margin-bottom: 0px;
}
